.button-main {
    background-color: $color-blue;;
    width: 8rem;
    height: 3rem;
    padding: .2rem;
    margin: 0 auto;
    border-radius: .5rem;
    color: white;
    outline: none;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.486);

    &:hover {
        background-color: $color-main-yellow;
    }

    &__spin {
        @extend .input-nav__search-icon--spin;
        color: $color-white;
        top: 1.2rem;
        left: 4rem;
    }

    &--logout {
        @extend .button-main;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &--submit {
        @extend .button-main;
        width: 50%;
        height: 3rem;
        font-size: 1.6rem;
        font-weight: 700; 
        position: relative;
    }
}