$color-main-background: #1b1b1b;

$color-navigation-background:  linear-gradient(0deg, rgba(23,23,23,1) 0%, rgb(0, 0, 0) 100%, rgb(17, 17, 17) 100%);
$color-navigation-icons : #e7e7e7;
$color-navigation-form: rgb(66, 66, 66);
$color-input: #2b2a2a;
$color-white: #ffffff;
$color-green: rgb(14, 134, 14);

$color-background-grad: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgb(12, 12, 12) 100%, rgb(0, 0, 0) 100%);

$color-form-button: rgba(255, 0, 0, 0.993);
$color-main-yellow: #ffd900;
$color-main-yellow-trans: #ffd900ab;

$color-rating-avg: rgb(255, 251, 0);
$color-rating-sad: rgb(255, 157, 0);
$color-rating-amuzing:  rgb(0, 255, 64);
$color-rating-intrigue: rgb(255, 0, 200);
$color-rating-scarry: rgb(255, 0, 0);
$color-rating-thrill: rgb(0, 255, 221); 

$yellow-shadow: .13rem .13rem .1rem .1rem $color-main-yellow;
$shadow-main: 0rem 0rem .3rem #000000;
$shadow-inner: inset 0px 0px 5px 0px #000000;

$color-grey: #2b2a2a;
$color-blue: #213799;

$color-separator: rgb(44, 44, 44);